@import "variables";

.wrapper {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  z-index: 1;
  padding: 0 1.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* Animations */
  transition-timing-function: ease-in;
  transition: all 0.5s;

  &Black {
    background-color: $bg-color;
  }

  @include mq(xl) {
    height: 54px;
  }
  @include mq(lg) {
    height: 50px;
  }
  @include mq(md) {
    height: 47px;
  }
  @include mq(sm) {
    height: 40px;
    padding: 0 .8rem;
  }
}

.logo {
  position: relative;
  width: 80px;
  min-height: 22px;

  @include mq(md) {
    width: 60px;
    min-height: 16px;
  }
}

.avatar {
  position: relative;
  width: 30px;
  min-height: 30px;

  @include mq(md) {
    width: 24px;
    min-height: 24px;
  }
  @include mq(sm) {
    width: 18px;
    min-height: 18px;
  }
}