@import "variables";

html,
body {
  padding: 0;
  margin: 0;
  font-family: Georama;
  background-color: $bg-color;
  color: $txt-color;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
